<input type="file" id="upload">
<core-drawer-panel forceNarrow>
{{#if inLogin}}
    <core-header-panel drawer class="drawer">
        <core-toolbar class="tall">
            <div flex class="middle" {{action 'upload'}}><img {{bind-attr src=user.image}} id="userimg"></div>
            <div flex class="bottom">{{user.username}}</div>
            <div class="drawer-name bottom"></div>
        </core-toolbar>
        <div>
            <paper-item>
                PROFILE
            </paper-item>
            {{#if admin}}
                <paper-item {{action 'users'}}>
                    USERS
                </paper-item>
                <paper-item>
                    {{#link-to 'question'}}
                        QUESTIONS
                    {{/link-to}}
                </paper-item>
            {{/if}}
            <paper-item {{action 'test'}}>
                FEEDBACK
            </paper-item>
            <paper-item {{action 'logout'}}>
                LOGOUT
            </paper-item>
        </div>
    </core-header-panel>
    {{/if}}
    <div main class="main">
        {{outlet }}
    </div>
</core-drawer-panel>
<paper-toast id="toast" class="paper-toast-custom" text="Login failed"></paper-toast>
