<div class="profile-wrapper" fit>
 
    {{#view 'slide-in'}}
        <core-toolbar class="core-toolbar-custom miniToolbar">
            <paper-button noink>
                PROFILE
            </paper-button>
            <div flex></div>
            {{#if model.submitted}}
                <core-icon icon="check" class="check-icon"></core-icon>
            {{/if}}
        </core-toolbar>
        <div class="userList" horizontal layout >
       
                <img src= {{model.image}} id="userimg">
                <div flex></div>
                <paper-button raised id="uploadImg" {{action 'setProfilePicture'}}>upload photo</paper-button>
       
        </div>
        
        <div class="userList" horizontal layout center>
            <paper-input-decorator label="Mail-Id" floatingLabel="true" >
                {{input type="text" value=model.email id="password" action="login"}}
            </paper-input-decorator>
        </div>
        <div class="userList" horizontal layout center>
            {{#view 'radio-group' selected=model.gender user=model}}
                <paper-radio-button name="Male" label="Male"></paper-radio-button>
                <paper-radio-button name="Female" label="Female"></paper-radio-button>
            {{/view}}
        </div>
        
        <div class="userList expertise-list">
        {{#each skill in model.skills}}
            <span class="tagLabel" {{action 'gotoExpertise' skill}}>
                #{{skill}}
            </span>
        {{/each}}
        </div>
        <div class="userList" horizontal layout center>
            <paper-input-decorator floatingLabel="true" label="Add more skills">
                {{input type="text" id="expertise-input" value=newExpertise action="addSkill"}}
            </paper-input-decorator>
        </div>
    {{/view}}
</div>
