<div class="question-wrapper" fit>
    <core-toolbar class="core-toolbar-custom">
        {{material-icon action='toggleDrawer' icon='menu'}}
        <div flex> </div>
        {{#if navbarSearch}}
            {{#view 'paper-toggle'}}{{/view}}
            <paper-menu-button>
                <paper-icon-button class="searchBack" icon="search" noink></paper-icon-button>
                <paper-dropdown class="dropdown searchBar core-transition core-closed" halign="right" valign="top" flex="true" autoclosedisabled="true" closeattribute="core-overlay-toggle" autofocusdisabled="false">
                    <paper-item horizontal start-justified layout class="paper-item-custom-navbar">
                        <paper-icon-button icon="arrow-back" core-overlay-toggle="true"></paper-icon-button>
                        {{search-input action="search" value=reportSearchText}}
                        <paper-icon-button icon="close"></paper-icon-button>
                    </paper-item>
                </paper-dropdown>
            </paper-menu-button>
        {{/if}}
        {{#if navbarEdit}}
            {{#if navbarUpload}}
                {{view uploadfile myupload='frikkinupload' id="admyupload" class="add-my-upload" name="files" multiple="multiple"}}
                {{#view 'paper-icon' icon="attachment" action="upload" }}{{/view}}
            {{/if}}
            {{material-icon action='moreOptions' icon='done'}}
        {{/if}}
    </core-toolbar>
    {{#view 'slide-in'}}
        <paper-fab {{bind-attr icon=fab-icon}} class="paper-fab-custom" {{action 'post'}}></paper-fab>
        <paper-item noink>
            <paper-button>questions</paper-button>
        </paper-item>
        <paper-item noink class="post-question">
            <span class="post-span">
                        <paper-input-decorator label="Ask a question" error="wrong credentials">
                {{input type="test" value=question id="password" name="question" action="post"}}
            </paper-input-decorator>
             
             </span>
        </paper-item>
        {{#each question in model}}
            <paper-item noink {{action  'runCloudCode' question.number}}>
                {{radio-button toggles="true" checked=question.show question=question}}
                <span {{bind-attr class="question.show:question-show:question-hide"}}>
         {{question.question}}
         </span>
            </paper-item>
        {{/each}}
    {{/view}}
</div>
