<div class="todo-wrapper">
    <section id="todoapp">
        <div id="header">
            <div id="navi" horizontal layout center>
                <span class="textHightLight">{{{highLightedText}}}</span>
            </div>
            <div id="infoi" horizontal layout center>
                {{input type="text" id="todoInput" value=this.todoInputText action="createTodo" placeholder="What needs to be done?"}}
            </div>
        </div>
        {{#if model}}
            <section id="main">
                <!-- {{#if canToggle}} 
                 {{input type="checkbox" id="toggle-all" checked=allTodos.allAreDone}} {{/if}} -->
                <ul id="todo-list">
                    {{#each todo in model itemController="todo" }}
                        {{#with todo}}
                            {{#view 'todo-card' checked=todo.isCompleted}}
                                <paper-item noink class="todoTitle">
                                    <li {{bind-attr class="todo.isCompleted:completed isEditing:editing" }} horizontal layout center>
                                        {{#if isEditing}}
                                            {{todo-input type="text" class="edit" value=bufferedTitle focus-out="doneEditing" insert-newline="doneEditing" escape-press="cancelEditing"}}
                                        {{else}}
                                            {{paper-checkbox checked=todo.isCompleted bubbles=false}}
                                            <label {{action "editTodo" on="doubleClick" bubbles=false}} flex>{{todo.title}} </label>
                                            <button {{action "removeTodo" bubbles=false}} class="destroy"></button>
                                        {{/if}}
                                    </li>
                                </paper-item>
                                {{#each tag in todo.tags}}
                                    <label {{action "gotoExpertise" tag bubbles=false}} class="tag-label" flex> #{{tag}}</label>
                                {{/each}}
                                <paper-item noink class="todoDescription">
                                    <label flex>{{todo.description}} </label>
                                </paper-item>
                            {{/view}}
                        {{/with}}
                    {{/each}}
                </ul>
            </section>
            <footer id="footer">
                <span id="todo-count"><strong>{{remaining.length}}</strong>  left</span>
                <ul id="filters">
                </ul>
                {{#if completed.length}}
                    <button id="clear-completed" {{action "clearCompleted"}}>Clear completed</button>
                {{/if}}
            </footer>
        {{/if}}
    </section>
</div>
