<div class="user-wrapper profile-wrapper" fit>
  
    {{#view 'slide-in'}}
        <core-toolbar class="core-toolbar-custom miniToolbar">
            <paper-button noink>
                {{model.username}}
            </paper-button>
            <div flex></div>
            {{#if model.submitted}}
                <core-icon icon="check" class="check-icon"></core-icon>
            {{/if}}
        </core-toolbar>
        <div class="userList" horizontal layout >
       
                <img src= {{model.image}} id="userimg">
                <div flex></div>
                
       
        </div>
        
        <div class="userList" horizontal layout center>
            <paper-input-decorator label="Mail-Id" floatingLabel="true" >
                {{input type="text" value=model.email id="mailId" disabled=true}}
            </paper-input-decorator>
        </div>
    
        
        <div class="userList expertise-list">
        {{#each skill in model.skills}}
            <div class="tagLabel" {{action 'gotoExpertise' skill}}>
                #{{skill}}
            </div>
        {{/each}}
        </div>
       
    {{/view}}

</div>
